/* Global Settings & Misc*/
body {
  font-family: 'Source Code Pro', monospace;
}

.content {
  min-height: calc(100vh - 301px)
}

.container.body h1 {
  padding-bottom: 25px;
  text-align: center;
}

/* Header */
header {
  padding-bottom: 100px;
}

/* Footer */
footer {
  text-align: center;
  padding-top: 20px;
}

footer .container.social img {
  height: 125px;
  border-radius: 50%;
}

footer .container.social a {
  color: #343a40;
}

footer .container.social a:active {
  color: blue;
}

.container.social {
  display: block;
  padding: 1rem;
  max-width:100%;
  background: lightgrey
}

footer #Copyright {
  background: lightgrey;
  margin-bottom: 0px;
}

/* Home */

/* About */
.container.about ul {
  list-style-type: none;
  padding-left: 0;
}

/* Blog */
.post_header {
  text-align: center;
}

.container.post_detail h1 {
  padding-bottom: 25px;
}

#author_date {
  font-size: small;
}

#post_title {
  padding-bottom: 0px;
}