{% extends 'base.html'  %}
{% load static %}
{% block content %}
<div class="container body about">
  <h1>About.</h1>
  <h5>Info</h5>
    <ul>
      <li><b>Name: </b>Daniel Spector</li>
      <li><b>DOB: </b>May 12, 1986</li>
      <li><b>Location: </b>Saint Petersburg, FL</li>
      <li><b>Favorite TV Shows: </b>GoT, The Wire, Always Sunny in Philadelphia</li>
      <li><b>Favorite Beer: </b>3 Daughters - Beach Blonde Ale</li>
      <li><b>Hobbies: </b>Tech, Weight Lifting, Jeeps, Philly Sports</li>
    </ul>
    <br>
    <h5>Story</h5>
      <p>
        I was around eleven years old when my parents purchased our first ISP subscription and I instantly became hooked on the internet. I spent most of my time making basic geocities sites, skinning Winamp, and pranking my friends with Trojan horse programs such as Sub7. The summer before high school a close friend introduced me to linux.  I started on Mandrake, and from there I’ve never looked back. Through the help of IRC and support forums I spent my 9th and 10th grade years learning “how to Linux”, such things like compiling a custom linux kernel, and doing a stage one Gentoo install. Linux soon became my daily driver.
      </p>
      <p>
        Tech was always just a hobby until around 2011 when a friend suggested I do it professionally. I started part time contracting Desktop Support, and from there I worked in a few other support roles until I got a break in 2015.
      </p>
      <p>
        I was offered a Jr. SysAdmin role at a small company. It was there that I really grew up professionally. Since the company was young I had to wear many hats; internal IT, data center ops, linux administration, and code deployments to name a few. As the company matured, my role became more defined and towards the end of my tenure I was primarily focused on Linux administration and code deployments.
      </p>
      <p>
        Wanting to learn more about the cloud computing, I accepted a job as a DevOps Engineer at my current company working with tech such as Kubertetes, AWS, and Terraform.
      </p>
</div>
{% endblock content %}