{% extends 'base.html'  %}
{% load static %}
{% block content %}
<div class="container body home">
  <h1>Hello.</h1>
  <p>
    Whatever banh mi messenger bag vinyl american apparel readymade, VHS scenester lo-fi vegan single-origin coffee 8-bit put a bird on it. Mustache art party etsy yr salvia gentrify echo park beard wes anderson, readymade synth cred DIY irony. Freegan twee fap, mixtape synth whatever tumblr vinyl butcher. Before they sold out put a bird on it cardigan tattooed mixtape scenester. Twee DIY thundercats tumblr salvia sustainable. Marfa food truck seitan messenger bag quinoa master cleanse. Cosby sweater irony helvetica cardigan cliche leggings.
  </p>
</div>
{% endblock content %}
